@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  /* Catppuccin Latte (Light Theme) */
  --rosewater: hsl(11, 59%, 67%);
  --flamingo: hsl(0, 60%, 67%);
  --pink: hsl(316, 73%, 69%);
  --mauve: hsl(266, 85%, 58%);
  --red: hsl(347, 87%, 44%);
  --maroon: hsl(355, 76%, 59%);
  --peach: hsl(22, 99%, 52%);
  --yellow: hsl(35, 77%, 49%);
  --green: hsl(109, 58%, 40%);
  --teal: hsl(183, 74%, 35%);
  --sky: hsl(197, 97%, 46%);
  --sapphire: hsl(189, 70%, 42%);
  --blue: hsl(220, 91%, 54%);
  --lavender: hsl(231, 97%, 72%);

  --text: hsl(234, 16%, 35%);
  --subtext1: hsl(233, 13%, 41%);
  --subtext0: hsl(233, 10%, 47%);

  --overlay2: hsl(232, 10%, 53%);
  --overlay1: hsl(231, 10%, 59%);
  --overlay0: hsl(228, 11%, 65%);
  --surface2: hsl(227, 12%, 71%);
  --surface1: hsl(225, 14%, 77%);
  --surface0: hsl(223, 16%, 83%);

  --base: hsl(220, 23%, 95%);
  --mantle: #e6e9ef;
  --crust: hsl(220, 21%, 89%);
}

/*@media (prefers-color-scheme: dark) {*/
.dark-mode {
  /* Catppuccin Frappe (Dark Theme) */
  --rosewater: hsl(10, 57%, 88%);
  --flamingo: hsl(0, 59%, 84%);
  --pink: hsl(316, 73%, 84%);
  --mauve: hsl(277, 59%, 76%);
  --red: hsl(359, 68%, 71%);
  --maroon: hsl(358, 66%, 76%);
  --peach: hsl(20, 79%, 70%);
  --yellow: hsl(40, 62%, 73%);
  --green: hsl(96, 44%, 68%);
  --teal: hsl(172, 39%, 65%);
  --sky: hsl(189, 48%, 73%);
  --sapphire: hsl(199, 55%, 69%);
  --blue: hsl(222, 74%, 74%);
  --lavender: hsl(239, 66%, 84%);
  --text: hsl(227, 70%, 87%);
  --subtext1: hsl(227, 44%, 80%);
  --subtext0: hsl(228, 29%, 73%);
  --overlay2: hsl(228, 22%, 66%);
  --overlay1: hsl(227, 17%, 58%);
  --overlay0: hsl(229, 13%, 52%);
  --surface2: hsl(228, 13%, 44%);
  --surface2-transparent: hsla(228, 13%, 44%, 0.1);
  --surface1: hsl(227, 15%, 37%);
  --surface0: hsl(230, 16%, 30%);
  --base: hsl(229, 19%, 23%);
  --mantle: hsl(231, 19%, 20%);
  --crust: hsl(229, 20%, 17%);
}

/* App related Variables*/
:root,
.dark-mode {
  /* Navbar related variables */
  --navbar-height: 9rem;
  --navbar-item-height: 3rem;

  /* Game Related Variables */
  --game-width: 350px;
  --game-max-height: 600px;
  --game-title-font-size: 2.5rem;

  /* General Elements*/
  --text-p-font-size: 1.6rem;

  /* Form related Variables*/
  --form-element-height: 3.8rem;
  --form-element-border: 2px solid var(--surface1);

  /* Transition Timing Functions */
  --bounce: linear(
    0,
    0.001 0.3%,
    0.007 0.7%,
    0.017 1.1%,
    0.031 1.5%,
    0.074 2.4%,
    0.131 3.3%,
    0.265 5%,
    0.568 8.4%,
    0.694 9.9%,
    0.814 11.5%,
    0.909 13%,
    0.986 14.5%,
    1.019 15.3%,
    1.048 16.1%,
    1.071 16.9%,
    1.092 17.8%,
    1.107 18.6%,
    1.118 19.5%,
    1.125 20.4%,
    1.128 21.4%,
    1.127 22.5%,
    1.121 23.6%,
    1.104 25.7%,
    1.043 31.2%,
    1.016 34.1%,
    1.004 35.7%,
    0.995 37.4%,
    0.989 39.1%,
    0.985 40.9%,
    0.984 42.9%,
    0.984 45.2%,
    0.998 55.5%,
    1.002 61.9%,
    1
  );
}

.glass-effect {
  background-color: var(--surface2-transparent);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.element-disabled,
.element-disabled:hover {
  cursor: not-allowed;
  background-color: var(--overlay0);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  width: 100vw;
}

body {
  color: var(--text);
  background: var(--base);
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark; /* Enable dark mode scrollbars and system colors when user prefers dark theme*/
  }
}
